body {
    background: linear-gradient(to right, #f12711, #f5af19);
}


p {
    font-size: larger;
    text-align: center;
    color: darkviolet;
}

.jk {
    background: linear-gradient(to right, #f12711, #f5af19);
    background-clip: text;
    color: transparent;
}

.jk:hover {
    color: black;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.funny-joke {
    background: linear-gradient(to right, #f12711, #f5af19);
    background-clip: text;
    color: transparent;  
}

.funny-joke:hover {
    color:black
}
